/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #333;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: "Funnel display";
    color: #333;
}

.header-agrupar {
    background-color: #d7d7d7;
    padding: 20px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    overflow: hidden;
}

.container-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid rgba(211, 47, 47, .7);
}

.container-header img {
    height: 9rem;
    width: 9rem;
}

.container-header h2 {
    font-family: "lilita one";
    font-size: 4rem;
    color: #1976D2;
}

.red {
    color: #D32F2F;
}

.blue {
    color: #1976D2;
}

.slogan {
    margin-top: 1rem;
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

section {
    margin-bottom: 5rem;
}

main {
    padding: 4rem;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sombra-topo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    /* altura do sombreamento */
    background: linear-gradient(to bottom, rgba(215, 215, 215, 1), transparent);
}

.apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin-top: 5rem;
    font-family: "Merriweather";
    font-size: 2rem;
    width: 100%;
    height: 40rem;
    overflow: hidden;
}

.left {
    padding: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.btn-denunciar {
    font-size: 2.5rem;
    text-align: center;
    width: 25rem;
    background-color: #D32F2F;
    padding: 15px 20px;
    color: white;
    border-radius: 5rem;
}

.btn-denunciar:hover {
    opacity: .8;
    transform: scale(.9);
    transition: 1s ease-out;
}

.right {
    padding: 2rem;
    width: 30rem;
    height: 40rem;
    width: 50%;
}

.right img {
    width: 100%;
    height: 100%;
    border-radius: 4rem;

}

.info-direitos {
    width: 100%;
    height: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.info-direitos h3 {
    font-size: 5rem;
}

.info-direitos p {
    font-size: 2rem;
}

.direito-lista {
    list-style: none;
    width: 50%;
    font-size: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: left;
    gap: 2rem;
}
.info-direitos h4 {
    font-size: 3rem;
}

.links-uteis {
    width: 100%;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links-uteis h3 {
    margin-bottom: 2rem;
}
.links-uteis ul {
    list-style: none;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.links-uteis a {
    color: #1976D2;
    transition: color 0.3s ease;
}
.links-uteis a:hover {
    color: #D32F2F;
}

footer {
    width: 100%;
    height: 10rem;
    background-color: #333;
    color: #D32F2F;
    font-size: 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
footer a {
    color: #D32F2F;
    transition: color 0.3s ease;
}